.MainContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: max-content;
  background-color: #ffff;
  padding: 30px 0px 50px 50px;
}

.ImgBook {
  width: 430px;
  height: 230px;
}

.Description {
  padding: 50px 75px 0px 75px;
  font-family: var(--primary-font-family);
  color: #58667e;
  font-size: var(--font-size-md);
}
