.header {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--background-color-primary);
  border-bottom: 2px solid rgba(248, 250, 253, 1);
}
