.header {
  display: flex;
  position: fixed;
  align-items: center;
  width: 100vw;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--background-color-primary);
  border-bottom: 2px solid rgba(248, 250, 253, 1);
  z-index: 2;
}
