.Header {
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--background-color-primary);
  border-bottom: 2px solid rgba(248, 250, 253, 1);
}

.SearchBarContainer {
  display: flex;
  flex-direction: column;
  max-width: 870px;
  width: 100%;
}
