.CategoriesSection {
  display: flex;
  height: 56px;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffff;
  border-bottom: 3px solid var(--background-color-secondary);
  font-family: var(--primary-font-family);
  box-shadow: 0px 0px 2px 0px #00000026;
}

.Wrapped {
  display: flex;
  width: 370px;
  align-items: center;
  justify-content: space-around;
}

.Category {
  width: max-content;
  height: max-content;
  border-radius: 30px;
  background-color: var(--background-color-secondary);
  color: #0d75ff;
  font-size: var(--font-size-lg);
  font-weight: 500;
  padding: 12px 30px;
}

.Categories {
  font-size: 18px;
  margin-left: 45px;
  margin-right: 180px;
}

.ShowQuantity {
  font-weight: 500;
  font-size: var(--font-size-lg);
}
