:root {
  /* font-family */
  --primary-font-family: 'Rubik';
  --secondary-font-family: 'Noto Sans';
  --tertiary-font-family: 'Dancing Script';
  /* font-weight */

  /* font-size */

  /* color */

  /* background-color */
}
