.resultList {
  max-width: 670px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--background-color-secondary);
  border-radius: 5px;
  margin-left: 170px;
  top: 74px;
  z-index: 99;
  overflow-y: scroll;
  cursor: pointer;
}

.image {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

.bookItem {
  display: flex;
  align-items: center;
  min-width: 650px;
  border-radius: 5px;
  padding: 10px;
  margin: 8px 0 8px 8px;
}

.bookItem:hover {
  background-color: rgba(227, 230, 235, 1);
}

.title {
  font-family: var(--primary-font-family);
  font-size: var(--font-size-2xl);
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 769px) and (max-width: 1440px) {
  .resultList {
    max-width: 450px;
    margin-left: 40px;
  }
  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .bookItem {
    min-width: 350px;
  }
}

@media (max-width: 768px) {
  .resultList {
    max-width: 250px;
    margin-left: 50px;
  }
  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .bookItem {
    min-width: 250px;
  }
}
