.categoryItem {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 212px;
  height: 56px;
  border-radius: 10px;
  margin-top: 23px;
  margin-right: 10px;
  cursor: pointer;
}

.categoryItem:hover {
  background-color: var(--background-color-secondary);
}
.initials {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff6231;
}

.category {
  font-size: var(--font-size-xl);
  flex-grow: 1;
}

.bookQuantity {
  font-size: var(--font-size-lg);
  color: #58667e;
  padding-right: 10px;
  text-align: right;
  min-width: 50px;
}
