.CategoryItem {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 212px;
  height: 56px;
  border-radius: 10px;
  margin-top: 23px;
  margin-right: 10px;
  cursor: pointer;
  font-size: var(--font-size-md);
}

.CategoryItem:hover {
  background-color: var(--background-color-secondary);
}

.Initials {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

.Category {
  flex-grow: 1;
  font-size: var(--font-size-md);
}

.BookQuantity {
  font-size: var(--font-size-sm);
  color: #58667e;
  padding-right: 10px;
  text-align: right;
  min-width: 50px;
}
