.categoryItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 236px;
  height: 56px;
  border-radius: 10px;
  margin-top: 23px;
  margin-right: 10px;
  cursor: pointer;
}
.initials {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff6231;
}

.category {
  font-size: var(--font-size-xl);
}

.bookQuantity {
  font-size: var(--font-size-lg);
  color: #58667e;
  margin-right: 30px;
}
