.input {
  display: flex;
  align-items: center;
  width: 670px;
  height: 53px;
  padding: 15px;
  border-radius: 30px;
  background-color: rgba(248, 250, 253, 1);
}
.searchInput {
  width: 300px;
  border: none;
  outline: none;
  margin-left: 10px;
  font-family: var(--primary-font-family);
  color: #000000;
  background-color: rgba(248, 250, 253, 1);
  font-size: 14px;
}
