.headerContentSection {
  display: flex;
  align-items: center;
  background-color: var(--background-color-secondary);
  padding: 15px 0px 15px 20px;
  font-family: var(--primary-font-family);
}
.nameBook {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-medium);
}
