.resultListSkeleton {
  max-width: 670px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--background-color-secondary);
  border-radius: 5px;
  margin-left: 170px;
  top: 74px;
  z-index: 99;
  overflow-y: scroll;
}

.bookItemSkeleton {
  display: flex;
  align-items: center;
  min-width: 650px;
  border-radius: 5px;
  padding: 10px;
  margin: 8px 0 8px 8px;
}
