.toast {
  width: 250px;
  height: 48px;
  border-radius: 8px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  animation:
    slideInTop ease 3s,
    fadeOut linear 1s 3s forwards;
}

@keyframes slideInTop {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.toastModal {
  position: fixed;
  display: flex;
  top: 60px;
  right: 70px;
  z-index: 2;
}

.toastMess {
  margin-left: 20px;
}

.toastFailed {
  background-color: red;
  color: white;
}

.toastSuccess {
  background-color: green;
}
