.CategoryList {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 268px;
  font-family: var(--primary-font-family);
  background-color: var(--background-color-primary);
}

.CuratedList {
  font-size: var(--font-size-lg);
  margin-top: 20px;
  padding-left: 25px;
  padding-right: 40px;
}
