.logo {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.logoText {
  margin-left: 20px;
  color: black;
  font-family: var(--tertiary-font-family);
  font-size: var(--font-size-4xl);
}
