.commentsSection {
  padding-left: 70px;
  margin-bottom: 50px;
}

.Comments {
  width: max-content;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.headerComment {
  font-family: var(--primary-font-family);
  font-size: 20px;
  font-weight: 500;
  margin-right: 5px;
}

.leaveComment {
  display: flex;
  flex-direction: column;
}

.formComment {
  display: flex;
  flex-direction: column;
}

.headerLeaveComment {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 10px;
}

.Comments :hover {
  opacity: 0.8;
}
.error {
  color: red;
}
