.card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--background-color-primary);
  padding-bottom: 25px;
  max-width: 282px;
}

.card:hover {
  opacity: 0.9;
}

.imageCard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px 24px;
  border-radius: 5px;
  background-color: var(--background-color-secondary);
  margin: 13px 15px 0px 18px;
}

.imageBook {
  width: 201px;
  height: 202px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
}

.bookInform {
  padding-top: 20px;
  padding-left: 21px;
}

.nameBook {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-medium);
  font-family: var(--primary-font-family);
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.published,
.author {
  font-family: var(--secondary-font-family);
  font-size: var(--font-size-md);
  line-height: 17px;
  color: #757881;
}
