.userComment {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

.Comments {
  display: flex;
}

.avatar {
  max-width: 40px;
  max-height: 40px;
  margin-right: 10px;
}

.comment {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 13px;
  color: #58667e;
  margin-top: 5px;
}

.userComment {
  font-family: var(--primary-font-family);
  font-weight: 600;
  font-size: #222531;
}
